body {
/*     background-color: #2D2D2D;*/
     font-family: 'Courier New', monospace;
 }

a {
    color: inherit;
/*    color: antiquewhite;*/
/*    text-decoration: inherit;*/
}

.summary{
    color: #A9201B;
    padding:20px;
    background-color:#2D2D2D;
}


 #red {
     color: #A9201B;
 }



#read{
    left:40px;
    padding:10px;

}
details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}
#white{
    font-size: 12px;
    color:antiquewhite;
}

 #work {
     border: 1px solid blue;
     color: aqua;
 }

 canvas {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     display: block;
     position: fixed;
     z-index: -1;
 }
