/*INDEX*/

/*code taken from https://codepen.io/juanbrujo/full/DBKxxM*/
.bothshadow{
    border: 1px solid green;
    background-color: #e7e5e4;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding:10% 10% 20% 10%;
/*  text-align: center;*/
/*  text-transform: uppercase;*/
  text-rendering: optimizeLegibility;

}

.elegantshadow{
    text-align: center;
    font-size: 130px;
    border: 1px solid red;
     color: #131313;
    background-color: #e7e5e4;
    padding:50px 10px 16px 10px;

    letter-spacing: .12em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
    
}

a {
  color: inherit;
  text-decoration: inherit;
}
.deepshadow{
/*    color: none;*/
/*  text-decoration: none;*/
    
    text-align: center;
    font-size: 60px;
     border: 1px solid blue;
     color: #e0dfdc;
    background-color: #333;
    padding:40px 80px;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
    
    
}






/*---------PAGE 1--------*/


/*
img {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
}
*/

.big {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}


$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49A7FF;
$red: #ff3838;
$orange: #db7953;

$extra-large: 110px;
$large: 84px;

*,
*:before,
*:after {
    box-sizing: border-box;
}


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $brown;
    @include center;
}










#placeholder1 {

    position: relative;
    margin: 30 auto 0;
    width: 800px;
    height: 500px;
    opacity: 50%;
}


/*code take from https://codepen.io/Huhtamaki/pen/GPzwPY*/
.store-frame {

    position: relative;
    margin: 30px auto 0;
    width: 800px;
    height: 500px;
    background: linear-gradient(0deg, #000, #272727);
}

.store-frame:before,
.store-frame:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #FF6326, #00FEFE, #7ADB39, #FDFA2F, #ff0000, #00FEFE, #7ADB39, #FDFA2F, #FF6326);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

/*
blue
#00FEFE

green
#7ADB39

yellow
#FDFA2F

red
#FF6326

background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);

*/


@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.store-frame:after {
    filter: blur(50px);
}



/*---------PAGE 2--------*/




#page-2-text {}








/*---------PAGE 3--------*/

/*code take from https://codepen.io/Huhtamaki/pen/GPzwPY*/



/*
.store-frame {
	position: relative;
	margin: 30px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
}

.store-frame:before, .store-frame:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.store-frame:after {
	filter: blur(50px);
}*/
