/*INDEX*/

/*code taken from https://codepen.io/juanbrujo/full/DBKxxM*/
.bothshadow {
    border: 1px solid green;
    background-color: #e7e5e4;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    padding: 10% 10% 20% 10%;
    /*  text-align: center;*/
    /*  text-transform: uppercase;*/
    text-rendering: optimizeLegibility;

}

.elegantshadow {
    text-align: center;
    font-size: 130px;
    border: 1px solid red;
    color: #131313;
    background-color: #e7e5e4;
    padding: 50px 10px 16px 10px;

    letter-spacing: .12em;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #737272,
        -2px 4px 1px #767474,
        -3px 6px 1px #787777,
        -4px 8px 1px #7b7a7a,
        -5px 10px 1px #7f7d7d,
        -6px 12px 1px #828181,
        -7px 14px 1px #868585,
        -8px 16px 1px #8b8a89,
        -9px 18px 1px #8f8e8d,
        -10px 20px 1px #949392,
        -11px 22px 1px #999897,
        -12px 24px 1px #9e9c9c,
        -13px 26px 1px #a3a1a1,
        -14px 28px 1px #a8a6a6,
        -15px 30px 1px #adabab,
        -16px 32px 1px #b2b1b0,
        -17px 34px 1px #b7b6b5,
        -18px 36px 1px #bcbbba,
        -19px 38px 1px #c1bfbf,
        -20px 40px 1px #c6c4c4,
        -21px 42px 1px #cbc9c8,
        -22px 44px 1px #cfcdcd,
        -23px 46px 1px #d4d2d1,
        -24px 48px 1px #d8d6d5,
        -25px 50px 1px #dbdad9,
        -26px 52px 1px #dfdddc,
        -27px 54px 1px #e2e0df,
        -28px 56px 1px #e4e3e2;

}

a {
    color: inherit;
    text-decoration: inherit;
}

.deepshadow {
    /*    color: none;*/
    /*  text-decoration: none;*/

    text-align: center;
    font-size: 60px;
    border: 1px solid blue;
    color: #e0dfdc;
    background-color: #333;
    padding: 40px 80px;
    letter-spacing: .1em;
    text-shadow:
        0 -1px 0 #fff,
        0 1px 0 #2e2e2e,
        0 2px 0 #2c2c2c,
        0 3px 0 #2a2a2a,
        0 4px 0 #282828,
        0 5px 0 #262626,
        0 6px 0 #242424,
        0 7px 0 #222,
        0 8px 0 #202020,
        0 9px 0 #1e1e1e,
        0 10px 0 #1c1c1c,
        0 11px 0 #1a1a1a,
        0 12px 0 #181818,
        0 13px 0 #161616,
        0 14px 0 #141414,
        0 15px 0 #121212,
        0 22px 30px rgba(0, 0, 0, 0.9);


}






/*---------PAGE 1--------*/
body {
    background-image: linear-gradient(to bottom right, #13057F, #6202DA);

}

/*code from https://codepen.io/erikjung/pen/XdWEKE*/
.sign {
    font-size: calc(2em + 1vmax);
    line-height: 2.1;
    text-align: center;
}

x-sign {
    display: block;
    --interval: 1s;
    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
}

x-sign:nth-of-type(1) {
    color: yellow;
    --color1: red;
    --color2: orangered;
    --color3: mediumblue;
    --color4: purple;
    font-family: Gruppo;
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}




/*
img {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
}
*/

/*
.big {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}
*/


$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49A7FF;
$red: #ff3838;
$orange: #db7953;

$extra-large: 110px;
$large: 84px;

*,
*:before,
*:after {
    box-sizing: border-box;
}


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $brown;
    @include center;
}










#placeholder1 {

    position: relative;
    margin: 30 auto 0;
    width: 800px;
    height: 500px;
    opacity: 50%;
}


/*code take from https://codepen.io/Huhtamaki/pen/GPzwPY*/
.store-frame {

    position: relative;
    margin: 30px auto 0;
    width: 800px;
    height: 500px;
    background: linear-gradient(0deg, #000, #272727);
}

.store-frame:before,
.store-frame:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #FF6326, #00FEFE, #7ADB39, #FDFA2F, #ff0000, #00FEFE, #7ADB39, #FDFA2F, #FF6326);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

/*
blue
#00FEFE

green
#7ADB39

yellow
#FDFA2F

red
#FF6326

background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);

*/


@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.store-frame:after {
    filter: blur(50px);
}






/*code from https://codepen.io/kocsten/pen/rggjXp*/
.nextbutton {
    display: flex;
    justify-content: center;
    align-items: center;

}

.glow-on-hover {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 140px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    z-index: 1;
    /*    background-color: #6202DA;*/
    cursor: pointer;
    position: relative;
    border-radius: 30px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}





/*---------PAGE 2--------*/




#page-2-text {}

.summary{
    border: 1px solid blue;
    width: 400px;
    line-height: 1.4;

}

/*---------PAGE 3--------*/




.chocolateclass {
    border: 1px solid green;
    height: 700px;
    width: 950px;
    display: grid;
    grid-gap: 50px 100px;

}

#chocolate {
    border: 1px solid red;
    height: 700px;
    width: 950px;
    position: relative;

}





/*
.blue {
        width: 200px;
    height: 200px;
    display:inline-block;
    margin-right: 10px;
    background-color: white;

  }
*/

#box1 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 21px;
    margin-left: 48px;
    width: 158px;
    height: 104px;
    background-color: #5F3C37;

}

#box2 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 21px;
    margin-left: 287px;
    width: 158px;
    height: 106px;
    background-color: #5F3C37;
}

#box3 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 21px;
    margin-left: 526px;
    width: 166px;
    height: 106px;
    background-color: #5F3C37;
}

#box4 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 21px;
    margin-left: 769px;
    width: 161px;
    height: 112px;
    background-color: #5F3C37;
}



#box5 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 205px;
    margin-left: 43px;
    width: 163px;
    height: 103px;
    background-color: #5F3C37;
}

#box6 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 206px;
    margin-left: 286px;
    width: 163px;
    height: 104px;
    background-color: #5F3C37;
}

#box7 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 204px;
    margin-left: 529px;
    width: 158px;
    height: 102px;
    background-color: #5F3C37;
}

#box8 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 204px;
    margin-left: 770px;
    width: 160px;
    height: 102px;
    background-color: #5F3C37;
}

#box9 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 388px;
    margin-left: 44px;
    width: 158px;
    height: 102px;
    background-color: #533028;
}

#box10 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 388px;
    margin-left: 282px;
    width: 163px;
    height: 102px;
    background-color: #533028;
}

#box11 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 388px;
    margin-left: 526px;
    width: 162px;
    height: 102px;
    background-color: #533028;
}

#box12 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 388px;
    margin-left: 769px;
    width: 161px;
    height: 102px;
    background-color: #533028;
}

#box13 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 570px;
    margin-left: 44px;
    width: 158px;
    height: 105px;
    background-color: #533028;
}

#box14 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 568px;
    margin-left: 285px;
    width: 158px;
    height: 103px;
    background-color: #533028;
}

#box15 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 570px;
    margin-left: 526px;
    width: 158px;
    height: 105px;
    background-color: #533028;
}

#box16 {
/*    border: 1px solid blue;*/
    position: absolute;
    margin-top: 568px;
    margin-left: 768px;
    width: 158px;
    height: 102px;
    background-color: #533028;
}


/*code from https://codepen.io/melaniexx/pen/MWYXpyp*/
.multi-button {
    border-radius: 60px;
    box-shadow: 0 0 15px 2px #b19cd9;
    padding: 15px;
    position: fixed;
    display: grid;
    margin-left: 90%;
    grid-gap: 0.5rem;
}

.HoverState {
    color: #b19cd9;
    font-family: Open Sans, sans-serif;
    position: absolute;
    right: 40px;
    top: 5px;
    font-weight: bold;
}

.buttonContainer {
    position: relative;
}
